## Exercise 3: Handling Generic Exceptions

In [1]:
#Type your code here
def safe_division():
    num = int(input())
    try:
        diff = 5 - num
        result = num / diff
    except ZeroDivisionError as e:
        print(f"An error occurred during calculation. see that {e}")
    else: 
        return result
    finally:
        print("Success to handle division")
safe = safe_division()

An error occurred during calculation. see that division by zero
Success to handle division

**Note:- Practice handling exceptions by trying different input types like using integers, strings, zero, negative values, or other data types.**

<hr>

<center>
    
# Scenario: Car dealership's inventory management system

</center>

You are working on a Python program to simulate a car dealership's inventory management system. The system aims to model cars and their attributes accurately.

### Task-1. You are tasked with creating a Python program to represent vehicles using a class. Each car should have attributes for maximum speed and mileage.

In [3]:
class vechicles(object):
    # Constructor
    def __init__(self, max_speed=100, milege=60):
        self.milege = milege 
        self.max_speed = max_speed

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
```

</details>

### Task-2. Update the class with the default color for all vehicles," white".

In [4]:
class Vehicle:
    color = "white"
    def __init__(self, max_speed, mileage, color):
        self.max_speed = max_speed
        self.mileage = mileage
        self.color = color

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
```

</details>

### Task-3. Additionally, you need to create methods in the Vehicle class to assign seating capacity to a vehicle.

In [10]:
class Vehicle:
    color = "white"
    def get_capacity(self):
        self.capacity = input("Enter the vehicle capacity")
    def __init__(self, max_speed, mileage, color, capacity):
        self.max_speed = max_speed
        self.mileage = mileage
        self.color = color
        self.capacity = get_capacity()

<details><summary>Click here for the solution</summary>

```python

class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity
```

</details>

### Task-4. Create a method to display all the properties of an object of the class.

In [20]:
#Type your code here
class Vehicle:
    color = "white"
    def get_capacity(self, capacity):
        self.capacity = capacity
        
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        # self.color = color
        self.capacity = None

    def display(self):
        print(self.color)
        print(self.max_speed)
        print(self.mileage)
        print(self.capacity)

<details><summary>Click here for the solution</summary>

```python
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)
        
```

</details>

### Task-5. Additionally, you need to create two objects of the Vehicle class object that should have a max speed of 200kmph and mileage of 20kmpl with five seating capacities, and another car object should have a max speed of 180kmph and mileage of 25kmpl with four seating capacities.

In [21]:
#Type your code here
vehic1 = Vehicle(200, 20)
vehic1.get_capacity(5)
vehic1.display()

vehic2 = Vehicle(180, 25)
vehic2.get_capacity(4)
vehic2.display()

white
200
20
5
white
180
25
4

<details><summary>Click here for the solution</summary>

```python
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)

# Creating objects of the Vehicle class
vehicle1 = Vehicle(200, 20)
vehicle1.assign_seating_capacity(5)
vehicle1.display_properties()

vehicle2 = Vehicle(180, 25)
vehicle2.assign_seating_capacity(4)
vehicle2.display_properties()

```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>

<hr>

## Quiz on DataFrame

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [27]:
# Write your code below and press Shift+Enter to execute
import pandas as pd
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

<details><summary>Click here for the solution</summary>

```python
q = df[['Rating']]
q
    
```

</details>

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [28]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

<details><summary>Click here for the solution</summary>

```python
q = df[['Released', 'Artist']]
q
    
```

</details>

Access the 2nd row and the 3rd column of <code>df</code>:

In [41]:
# Write your code below and press Shift+Enter to execute
df.iloc[2:4]

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]
    
```

</details>

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [49]:
new_index=['a','b','c','d','e','f','g','h']
df_new = df
df_new.index = new_index
df_new

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
g,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [50]:
df_new.loc['a', 'Artist']

'Michael Jackson'

In [51]:
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>